<ion-view view-title="Configurações de Conta">
    <ion-content>
        <ion-list>
            <ion-item class="item-divider">
                Conta
            </ion-item>
            <ion-item href="#/app/alterar-senha">
                Alterar Senha
            </ion-item>
            <ion-item class="item-divider">
                Outros
            </ion-item>
            <ion-item href="#/logout">
                Sair
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
