<ion-view view-title="Home">
    <ion-content>
<!--     	<div style="height: 500px; background-color: blue;">
    		<div class="row">
    			<div class="col">
					<img src="img/logo_login.png" width="60%">
    			</div>	
    		</div>
    		<div class="row" style="flex: 2!important">
    			<div class="col">
    			da
    			</div>
    		</div>
    		<div class="row">
    			<div class="col">
	    			<a
	    				style="margin: 20px 10px"
						href="#/login"
						class="button button-positive button-block">
						Entrar
					</a>
    			</div>
    		</div>
    	</div> -->
    	<div class="home-container fill-content-height">
    		<div class="home-logo">
    			<img src="img/logo_login_white.png" width="60%">
    		</div>
<!-- 			<ion-slide-box class="home-text">
				<ion-slide>
	    			<h4>Tudo de boas</h4>
	    			<p>
	    				Veja tudo na mão uma beleza etc
	    			</p>
				</ion-slide>
				<ion-slide>
	    			<h4>Tudo de boas</h4>
	    			<p>
	    				Veja tudo na mão uma beleza etc
	    			</p>
				</ion-slide>				
				<ion-slide>
	    			<h4>Tudo de boas</h4>
	    			<p>
	    				Veja tudo na mão uma beleza etc
	    			</p>
				</ion-slide>
			</ion-slide-box> -->
			<div class="home-text" style="display: flex;">
				<div class="row" style="flex: 1">
					<div class="col col-center">
						<h4>Um titulo aqui legal</h4>
						<p>É bom mesmo não pode perder amigo etc</p>
					</div>
				</div>
			</div>
    		<div class="home-bottom">
    			<a
					href="#/login"
					class="button button-positive button-block">
					Entrar
				</a>
    		</div>
		</div>
    </ion-content>
</ion-view>
