<ion-view view-title="Academia">

    <ion-content class="custom-bg">
        <div class="institucional-header">
        </div>
        <ion-list class="text-center">
            <ion-item class="item-divider">
                <span class="icon ion-ios-clock institucional-divider-icon"></span>Horário de funcionamento
            </ion-item>
            <ion-item class="item-text-wrap">
                <small>Segunda à Sexta</small><br> 06:30 às 12:00 e 14:00 às 22:00
            </ion-item>
            <ion-item class="item-text-wrap">
                <small>Sábado</small><br>08:00 à 12:00
            </ion-item>
            <ion-item class="item-divider">
                <span class="icon ion-ios-location institucional-divider-icon"></span>Endereço
            </ion-item>
            <ion-item class="item-text-wrap">
                Av. Nilton Penna Botelho n° 42, São Jorge - Pinheral / RJ
            </ion-item>
        </ion-list>
        <div class="text-center padding" style="margin-top: 30px;">
            <button class="button button-balanced button-outline button-block">
                <span class="icon ion-ios-telephone" style="margin-right: 10px;"></span> Ligar
            </button>
            <br>
            <button
                class="button button-positive button-outline button-block"
                ng-click="goExternal('https://www.facebook.com/ACADEMIA-LIFE-FITNESS-254466674565550')">
                <span class="icon ion-social-facebook" style="margin-right: 10px;"></span> Facebook
            </button>
            <button class="button button-calm button-outline button-block">
                <span class="icon ion-social-twitter" style="margin-right: 10px;"></span> Twitter
            </button>
        </div>
    </ion-content>
</ion-view>
