<ion-view view-title="{{dadosGerais.name}}">

    <ion-content class="custom-bg">
<!--         <div style="text-align: center; background-color: #e74c3c; padding: 40px 20px; ">
            <div
                style="width: 100px; height: 100px; background-color: #FFF; background-image: url(img/logo.png); background-size: 85% auto; background-repeat: no-repeat; background-position: center; center; margin-left: 30%;">
            </div>
        </div> -->
<!--         <div class="fill-content-height">
            <div style="display: flex; flex-direction: column; height: 100%;">
                <div style="flex: 1;background-image: url(img/tey.jpg); background-size: cover;">
                    
                </div>
                <div style="justify-content: center; background-color: red;">
                    <div class="item item-text-wrap">
                        <span class="icon ion-ios-location" style=""></span> {{dadosGerais.endereco}}
                    </div>
                    <ion-list>
                    <div class="item item-text-wrap" ng-repeat="item in dadosGerais.funcionamento">
                        <span class="icon ion-android-time" style=""></span> {{item}}
                    </div>
                </div>
            </div>
        </div> -->
        <div class="fill-content-height">
            <div class="" style=" background-size: cover;display: flex; flex-direction: column; height: 100%; color: #FFF; background-color: #e74c3c">
                <div style="display: flex; align-items: center; flex: 1; text-align: center;justify-content: center;">
                </div>
                <div style="display: flex; align-items: center; flex: 1; text-align: center; padding: 0 20px; font-size: 16px;">
                    <div>
                        <div ng-repeat="item in dadosGerais.funcionamento" style="margin-bottom: 15px;">
                            <span class="icon ion-android-time" style="margin-right: 10px;"></span>{{item}}
                        </div>
                        <div style="margin-bottom: 15px;">
                            <span class="icon ion-ios-location" style="margin-right: 10px;"></span>{{dadosGerais.endereco}}
                        </div>
                        <div style="">
                            <div ng-repeat="contato in dadosGerais.contatos">
                                <span class="icon ion-{{contato.icon}}" style="margin-right: 10px;"></span>{{contato.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
