// NAVBAR
$navbar-color: #e74c3c;
$navbar-color: #DB3438;
$navbar-text-color: #FFF;

// LOGIN
$login-bg-color: #FFF;
$login-text-color: $navbar-color;
$login-button-color: $navbar-color;
$login-button-text-color: #FFF;
$login-logo-width: 40%!default;
$login-logo-height: auto!default;
$login-logo-padding: 0 0 0px 0!default;

//CHECKBOX
$checkbox-on-bg-default: $navbar-color;
$checkbox-on-border-default: $checkbox-on-bg-default;

$btn-close-modal-text-color: $navbar-color;

/**
 * INSTITUCIONAL
 */
$institucional-header-height: 140px;
$institucional-header-color: #ecf0f1;
$institucional-header-bg-size: auto 60%;