.bar-app{
	background-color: $navbar-color!important;
	color: $navbar-text-color!important;
}
.bar-app > .title, .button-open-menu{
	color: $navbar-text-color!important;
}
.bar-app > .buttons  button:before, .back-button{
    color: $navbar-text-color!important;
}
.bar-app{
	border: 0!important;
}
