/*APP*/
.custom-bg{
    background-color: $app-bg;
}
/*SUMIR COM BORDA DA NAVBAR*/
.bar{
    background-image: none;
}
/*INPUTS*/
input, textarea{
    font-size: $input-font-size!important;
}
textarea.sugestao{
    padding: 10px 5px;
    min-height: 200px;
    resize: none;
}
.btn-close-modal{
    color: $btn-close-modal-text-color!important;
}
/*Institucional*/
.institucional-header{
    height: $institucional-header-height;
    background-image: url(../img/logo.png);
    background-size: $institucional-header-bg-size;
    background-position: center center;
    background-repeat: no-repeat;
}
.institucional-divider-icon{
    margin-right: 10px;
}