small{
    font-size: $font-size-small!important;
}
p {
    font-size: $font-size-p!important;
}
.text-secondary{
    color: $text-color-secondary!important;
}
.text-sub-title{
    margin: 10px 0!important;
}
